/* START Header */
#topHeader {
    border-bottom: 1px solid #ebebeb;
}

#topHeader a {
    color: #2c3e50;
    font-weight: 600;
    font-size: 0.89rem;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

nav ul li a {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}
/* END Header */

/* START Footer */
.full_footer {
    background-color: #243c4f;
}

.top_footer p {
    color: white;
}

.top_footer a {
    color: white;
    font-weight: 600;
}

.top_footer h3 {
    color: white;
}

.bottom_footer {
    background-color: #031b2e
}

.bottom_footer p {
    color: white;
}
/* END Footer */

/* START: Home page first hero section */
.top_hero_section {
    background-color: #3498db;
    color: white;
}

.top_hero_section a {
    color: white;
    font-weight: 600;
}
/* END: Home page first hero section */

/* START: Home page third hero section */
.requierments_section {
    background-color: #004d80;
    color: white;
}
/* END: Home page third hero section */

/* START: Home page fifth hero section */
.home_newsletter {
    background-color: #004d80;
    color: white;
}

.home_newsletter .form-control {
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}

.home_newsletter .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #de1290;
    color: #fff;
}
/* END: Home page fifth hero section */

/* START: Home page seventh hero section */
.clients_section {
    background-color: #f0f0f0;
}
/* END: Home page seventh hero section */

/* ------------------------------------- END of Home Page ---------------------------------------- */

/* ------------------------------------- START of About Page ---------------------------------------- */

/* START: Breadcrumbs section */
.breadcrumbs_section {
    background-color: #e9ecef;
}
/* END: Breadcrumbs section */